.about-img-box{
  width: 1200px;
  display: flex;
  width: 100%;
  margin: auto;
  padding-bottom: 150px;
  justify-content: center;
  align-items: flex-start;
}
.img-container{
  display: flex;
  justify-content:center;
}

.img-left-item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start ;
  width: 300px;
  padding-top: 70px;
}

.img-leftU{
  text-align: right;
}

.img-rightU{
  text-align:center;
}
.img-right-item{
  display: flex;
  flex-direction: column;
  margin-left:15px;
}

.img-leftU img{
  width: 100%;
  height:280px;
  border-radius: 5px 0 0 0;
}

.img-leftD img{
  width: 100%;
  height: 300px;
  border-radius: 0 0 0 5px;
  padding-top:20px;
}

.img-rightU img{
  width: 100%;
  height: 280px;
  border-radius: 0 5px 0 0;
}

.img-rightD img{
  width: 100%;
  height: 295px;
  border-radius: 0 0 5px 0;
  padding-top:20px;
  object-fit: contain;
}

.about-info-box{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10px 20px;
  padding-top: 12px;
}

.founder-container,
.branch-container{
    margin-top: 2px;
    margin-left:25px;
    font-size: 20px;
}

.branch, 
.founder {
    width: fit-content;
    padding:20px 20px;
    height: 16px;
    border-radius:5px;
    font-size: 20px;
    background-color: #D9D9D9;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 5px;
}

img{
	border: 0;
}

.part2-floor-title{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
} 

.part2-floor-title > i{
  padding-top:20px;
}
.floor-title{ 
  width: fit-content;
  padding: 20px 20px;
  height: 16px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #D9D9D9;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
}

.description1{
font-size: 16px;
}

.floor1-info{
  margin-top: -110px;
  margin-left:40px;
  margin-right:90px;
}

.floor3-info{
  margin-top: -30px;
  margin-left:40px;
  margin-right:90px;
}

.floor2-info{
  margin-top: -40px;
  margin-left:100px;
  margin-right:50px;
}

.description2{
font-size: 16px;
}

.part2 {
  display: flex;
  flex-direction: column; 
  margin-top: -100px;
}

.part2-floor-name{ 
  margin: auto;
  font-size: 30px;
  font-weight: bold;
} 

.floor1-container,
.floor2-container,
.floor3-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.floor1-img{
  margin-top: 50px;
  margin-left:100px;
}

.floor1-img img{
 height:396px;
 object-fit:cover;
 border-radius: 5px;
}

.floor2-img{
  margin-top: 100px;
  margin-right:100px;
}

.floor2-img img{
  height:396px;
  object-fit: cover;
  border-radius: 5px;
}

.floor3-img{
  margin-top: 100px;
  margin-left:100px;
}
.floor3-img img{
  height:396px;
  object-fit: cover; 
  border-radius: 5px;
} 
