.about-img-box{
  max-width: 1200px;
  display: flex;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 150px;
  justify-content: center;
}

@media (max-width: 768px) {
  .about-img-box{
    flex-direction: column;
  }
 }

.img-container{
  display: flex;
  justify-content:center;
}

.img-left-item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start ;
  width: 300px;
  padding-top: 70px;
}

.img-leftU{
  text-align: right;
}

.img-rightU{
  text-align:center;
}
.img-right-item{
  display: flex;
  flex-direction: column;
  margin-left:15px;
}

.img-leftU img{
  width: 100%;
  height:280px;
  border-radius: 5px 0 0 0;
}

.img-leftD img{
  width: 100%;
  height: 300px;
  border-radius: 0 0 0 5px;
  padding-top:20px;
}

.img-rightU img{
  width: 100%;
  height: 280px;
  border-radius: 0 5px 0 0;
}

.img-rightD img{
  width: 100%;
  height: 295px;
  border-radius: 0 0 5px 0;
  padding-top:20px;
  object-fit: contain;
}

.about-info-box{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px 20px;
  padding-top: 12px;
}

@media (max-width: 768px) {
  .about-info-box{
    width: 100%;
    margin:auto;
  }
 }

 @media (max-width: 768px) {
  .floor1-info,
  .floor2-info,
  .floor3-info{
    width: 40%;
    margin:auto;
  }
 }



.founder-container,
.branch-container{
    margin-top: 2px;
    margin-left:25px;
    font-size: 20px;
}

.founder,
.branch {
    width: fit-content;
    padding:20px 20px;
    height: 16px;
    border-radius:5px;
    font-size: 20px;
    background-color: #D9D9D9;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    margin: auto;
   
}

.founder{
  margin-top: -10px;
  margin-bottom: 20px;
}

.branch{
  margin-top: 30px;
  margin-bottom: 20px;
}

img{
	border: 0;
}

.floor-box{
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.part2-floor-title{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
} 

.part2-floor-title > i{
  padding-top:20px;
}

.floor-title{ 
  width: fit-content;
  padding: 20px 20px;
  height: 16px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #D9D9D9;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 55px;
}

.description1{
font-size: 16px;
}

.floor1-info{
  margin-top: -110px;
  margin-left:40px;
  margin-right:90px;
}

.floor3-info{
  margin-top: -30px;
  margin-left:40px;
  margin-right:90px;
}

.floor2-info{
  margin-top: -40px;
  margin-left:100px;
  margin-right:50px;
}

.description2{
font-size:16px;
}

@media (max-width: 768px) {
  .floor1-info,
  .floor2-info,
  .floor3-info {
    width: 50%;
  }
 }

.part2 {
  display: flex;
  flex-direction: column; 
  margin-top: -100px;
}

.part2-floor-name{ 
  margin: auto;
  font-size: 30px;
  font-weight: bold;
} 

.floor-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .floor-container {
    flex-direction: column;
    padding: 5%;
  }
 }

.floor-container:nth-child(2n+1) {
  flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .floor-container:nth-child(2n+1) {
    flex-direction: column;
    padding: 5%;
  }
 }

.floor-img{
  width: 40%;
}

.floor-img img{
 object-fit:cover;
 border-radius: 5px;
 width: 100%;
}
.floor-info {
  flex: 1;
  min-width: 0;
  margin: 0 5%;
}
 

@media (max-width: 768px) {
  .floor-img{
    width: 100%;
    padding: 0, 20px;
  }
 }




