.contact-container-box {
  max-width: 1200px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: auto;
  letter-spacing: 2px;
  line-height:1.5;
}
@media (max-width: 768px) {
  .contact-container-box {
    flex-direction: column;
  }
 }
 
.contact-container-left,
.contact-container-right {
    flex: 1;
    margin: 40px; 
}

.contact-info>li{
  line-height: 2;
}

.contact-info > ul i{
  padding: 5px;
 
}
.branch-info>li{
  line-height: 2;
}
.contact-container-right{
  padding: 20px 50px;
  background: #D9D9D9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.contact-info{
  margin-bottom: 60px;
}

.image-container {
  margin-top: 10px;
  width: 100%; 
  overflow: hidden;
}

.image-container img{
  border-radius: 5px;
  margin-top: 15px;
  width: 100%;
  object-fit: cover;   
}

.form-group{
  padding: 5px;
  display: flex;
  flex-direction: column;
} 

input {
  width: 100%;
  padding: 10px; 
  margin-top: 5px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
}

label {
  display: block; 
  margin-bottom: 5px; 
}

.input-group {
  width: 100%;
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
}

select,
textarea {
  width: 100%; 
  padding: 10px; 
  margin-top: 5px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  resize: none;
}
.flex_1{
  display:flex;
}
.form-group > textarea{
  flex:1;
  } 

.contact-container-right > input{
  width: 100px;
  margin-top: 20px;
  padding: 6px 20px;
  margin-left: auto;
  margin-right: 10px; 
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

