
.part1{
  width: 1200px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.part1 > img{
  height: 483px;
  object-fit: cover;
  border-radius: 5px;
}
.part1-image-container,
.part1-info-container{
  flex:1;
}

.part1-info-container{
  display:flex;
  flex-direction: column;
}










.part4{
  width: 1200px;
  margin: auto; 
}

.news-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
}

.news-box{
  display: flex;
  flex-direction: column;
}

.news-image {
  height:268px; 
  width: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin: 10px 0; 
}


/* <div class="news-box">  
      <div class="news-image-container">
          <img class="news-image" src="${news[i].image}">
      </div>

      <div class="news-detail-container">
        <div class="news-title">
          ${news[i].title}
        </div>
      </div>   */
