.main {
  margin-top: 70px;
 }
 
 .news-box{
  display:flex;
  margin: auto;
  max-width: 1200px;
  position: relative;
  justify-content: center;
  padding: 40px;
 }
 
 @media (max-width: 768px) {
   .news-box {
     flex-direction: column;
   }
  }
 
 .news-box:not(:first-child)::after {
  content: "";
  max-width: 1200px; 
  border-top: 1px solid #726E6E; 
  position: absolute;
 }
 
 .news-image-container{
  width: 250px;
 }
 
  @media (max-width: 768px) { 
   .news-image-container {
    width: 100%;
   }
  }
 .news-image {
  width:250px;
  height:177px;
  object-fit: cover;
  border-radius: 5px;
 }
 
 @media (max-width: 768px) {
     .news-image {
       height: 35vw;
      width: 100%;
     margin:auto;
     }
  }
 
 .news-detail-container{
  /* width: 60%; */
  flex: 1;
  min-width: 0;
  margin-left: 5%;
 }
 
 @media (max-width: 768px) {
   .news-detail-container {
   width: 100%;
   margin-left: 0;
   }
  }
 
 .news-date, 
 .news-content {
  font-size: 16px;
  margin-bottom: 1px;
  line-height: 32px;
 }
 
 .news-title {
  font-size: 20px;
  margin-bottom:5px;
  font-weight: bold;
  line-height: 32px; 
 }
 