*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Serif TC', serif;
  letter-spacing: 2px;
  line-height: 32px;
}

h1, h2, h3, h4 {
  line-height: 32px;
}

h1{
  font-size: 64px;
  text-align: center;
}

h2{
  font-size: 36px;
  text-align: center;
  font-weight: 600;
}

h3{
  font-size:20px;
}

h4{
  font-size:16px;
}

p {
  font-size: 16px;
}

ul{
  list-style-type: none;
}

.logo-line{
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;/*問題 為什麼不能寫在Logo*/
  margin-top: 15px;
  margin-bottom: 10px;
}

.user-actions {
  position: absolute; 
  bottom: 1px;
  right:70px;
}

.user-actions i {
  color: black;
  padding: 5px;
}

nav{
  /* display: inline-block; */
  width:calc(100% - 120px);
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin:5px auto 0px;
}

nav ul{
  display:flex;
  justify-content: center;
  align-items: center;
} 

nav ul li{
  font-size: 0;  
}
nav ul li a{
  display: block;
  color:black;
  text-decoration: none; 
  font-size: 16px;
  padding: 6px 15px;
}

nav ul li a:hover{
  background-color: rgba(255, 136, 106, 0.6);
}

.banner-box {
  width: calc(100% - 120px); 
  margin: 0 60px;
}

.banner-box .banner-image-container{
 position: relative;

}
.banner-box .banner-image-container img{
  width: 94%; 
  height: 404px;
  object-fit: cover; 
  border-radius: 30px;
}
.banner-box h1{
  background-color: rgba(255, 242, 239, 0.6);
  border-radius: 10px;
  padding: 70px 70px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

footer{
  background-color: #F1DFDB;
  height: 150px;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end; 
  align-items: center; 
  margin-top:100px;
  
}

footer .icon{
  margin-bottom: 5px;
}

footer .icon i{
  padding: 5px;
  color: #Ffffff;
}
footer p{
  text-align: center;
  margin-bottom: 5px;
}