*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  position: fixed;
  top: 0;
  right: 0;
  left:0;
  background-color: white;
  z-index: 2;
}

body {
  font-family: 'Noto Serif TC', serif;
  letter-spacing: 2px;
  line-height: 32px;
}

h1, h2, h3, h4 {
  line-height: 32px;
}

h1{
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .h1 {
    font-size: 20px;
    line-height: 1.4em;
  }
}

h2{
  font-size: 36px;
  text-align: center;
  font-weight: 600;
}

h3{
  font-size:20px;
}

h4{
  font-size:16px;
}

p {
  font-size: 16px;
}

ul{
  list-style-type: none;
}


.logo-container a {
  display: inline-block;
  width: 70px; 
  height: 90px; 
} 

.header-part{
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
  margin-top: 15px;
  margin-bottom: 10px;
}

.header-right-section{
  position:absolute;
  bottom: 1px;
  right:60px;
  display: flex;
}

.header-right-section i{
  font-size: 18px;
  margin:10px ;
  color: #000;
}

.cart-link i{
  position: relative;
}
.cart-link {
  text-decoration: none;
  display: flex;
  align-items: center; 
}

/* .cart-icon{
  /* filter: grayscale(100%) brightness(0); */
  /* width: 65px;
  height: 35px; 
  position: relative;
  /* font-size: 16px;
}  */

.cart-quantity{
  position: absolute;
  background-color:#FAEAE6;
  top: 40%;
  left: 60%;
  transform: translate(40%, -80%);
  font-size: 12px;
  font-weight: 700;
  color: rgb(209, 92, 92);
  border-radius: 50%;
  width: 30px;
  text-align: center;
}

nav{
  width: 94%; 
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin:5px auto 0px;
}

nav ul{
  display:flex;
  justify-content: center;
  align-items: center;
} 

nav ul li{
  font-size: 0;  
}

nav ul li a{
  display: block;
  color:black;
  text-decoration: none; 
  font-size: 16px;
  padding: 6px 15px;
}

nav ul li a:hover{
  background-color: rgba(255, 136, 106, 0.6);
}

.hambar {
  position: absolute;
  top: 15px;
  right: 15px;
  color: black;
  cursor: pointer;
  display: none;
  font-size: 35px;
}

.nav__btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .hambar.active {
    display: block;
  }

  nav {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 150px;
    height: 35vh;
    background: #F1DFDB;
    border: none;
  }
  nav ul {
    padding-top: 50px;
    flex-direction: column;
  }
  .nav__btn {
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10vh;
  }

  nav.active{
    display: block;
  }

  nav.active .nav__btn {
    display: flex;
  }

  .close.active {
    display: block;
    
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: black;
  cursor: pointer;
  display: none; 
  font-size: 35px;
}

.close:hover {
  color: rgb(197, 128, 128); 
}


.banner-box {
  width: calc(100% - 120px); 
  margin: auto; 
  padding-top: 180px;
} 

.banner-box .banner-image-container{
  position: relative;
  margin-top: 30px;
  margin-bottom: 60px;
}

.banner-box .banner-image-container img{
  width: 100%;
  height: 404px;
  object-fit: cover; 
  border-radius: 5px;
}

.banner-box h1{
  background-color: rgba(255, 242, 239, 0.6);
  border-radius: 5px;
  padding: 25px 50px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

footer{
  background-color: #F1DFDB;
  height: 140px;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end; 
  align-items: center; 
  margin-top:100px;
  
}

footer .icon{
  margin-bottom: 5px;
}

footer .icon i{
  padding: 5px;
  color: black;
  font-size: 16px;
}
footer p{
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 5px;
}